<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989842723606-h86fr8tgsfbn80sgmt9lfjjkp44t6ik8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989842723606-h86fr8tgsfbn80sgmt9lfjjkp44t6ik8</string>
	<key>API_KEY</key>
	<string>AIzaSyBad0XoRbh99_vTFEsBwPf3QNNIOEPlg88</string>
	<key>GCM_SENDER_ID</key>
	<string>989842723606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLoginForm</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-63c3d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-63c3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989842723606:ios:2d0d7e7288fa28c1ca7637</string>
</dict>
</plist>